body {
    width: 70%;
}
img {
    width: 900px;
    height: 600px;
}
a {
    text-decoration: none;
    font-size: 18px;
}
h5 {
    font-size: 1.1em;
    margin-bottom: 10px;
}
p {
    text-indent: 40px;
    text-align: justify;
    margin-top: 10px;
}